<div class="modal__body">
  <h2>Авторизация</h2>
  <form class="form-authorization">
    <div class="form-item">
      <span>Телефон</span>
      <div class="wp-input">
        <input type="text" placeholder="Введите телефон" name="username" class="input">
        <svg class='icon icon-mail'>
          <use xlink:href='img/svg/sprite.svg#mail'></use>
        </svg>
      </div>
    </div>
    <div class="form-item">
      <span>Пароль</span>
      <div class="wp-input">
        <input type="password" placeholder="Введите пароль" name="password" class="input">
        <svg class='icon icon-lock-2'>
          <use xlink:href='img/svg/sprite.svg#lock-2'></use>
        </svg>
      </div>
    </div>
    <button type="submit" class="button"><span>Войти</span></button>
  </form>
</div>