<div class='modal__body'>
  <div class="modal__header">
    <div class="modal__header_auto">
      <button class="modal__header_button-prev btn-open-prev-modal modal-close" data-modal="modal-client">
        <svg class='icon icon-arrow-right-circle'>
          <use xlink:href='./img/svg/sprite.svg#arrow-right-circle'></use>
        </svg>
      </button>
      <h3 class="modal__title">Старые данные</h3>
    </div>
  </div>
  <div class="modal__block">
    <div class="modal__block_item">
      <div class="modal__block_top">
        <h4 class="modal__sub-title">О клиенте:</h4>
      </div>
      <form class="modal__form form-client-data">
        <div class="modal__form_item">
          <span>ФИО</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input not-edit" name="fullname" readonly="true"
              data-render="fullname,text" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Дата рождения</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input not-edit" name="birthday" readonly="true"
              data-render="birthday,date" autocomplete="off">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Номер телефона</span>
          <div class="modal__form_wp-input wp-input">
            <input type="tel" class="modal__form_input input not-edit" name="username" readonly="true"
              data-render="username,username" autocomplete="off" inputmode="tel">
          </div>
        </div>
        <div class="modal__form_item">
          <span>Email</span>
          <div class="modal__form_wp-input wp-input">
            <input type="email" class="modal__form_input input not-edit" name="email" readonly="true"
              data-render="email,text" autocomplete="off" inputmode="email">
          </div>
        </div>
      </form>
    </div>

    <div class="modal__block_item">
      <div class="modal__block_top">
        <h4 class="modal__sub-title">Паспорт</h4>
      </div>
      <div class="modal__passport">
        <div class="modal__passport-content">
          <form class="modal__passport-form">
            <div class="modal__passport-form_item">
              <span>Номер:</span>
              <div class="modal__passport-form_wp-input wp-input">
                <input type="text" name="no" class="modal__passport-form_input-passport input-passport"
                  data-render="no,text" inputmode="numeric" readonly="true">
              </div>
            </div>
            <div class="modal__passport-form_item">
              <span>Серия:</span>
              <div class="modal__passport-form_wp-input wp-input">
                <input type="text" name="series" class="modal__passport-form_input-passport input-passport"
                  data-render="series,text" inputmode="numeric" readonly="true">
              </div>
            </div>
            <div class="modal__passport-form_item">
              <span>Дата выдачи:</span>
              <div class="modal__passport-form_wp-input wp-input">
                <input type="text" name="issue_date" class="modal__passport-form_input-passport input-passport"
                  data-render="issue_date,date" readonly="true">
              </div>
            </div>
            <div class="modal__passport-form_item">
              <span>Статус:</span>
              <div class="modal__passport-form_wp-status wp-status not-confirmed" data-render="approved">
                <div class="modal__passport-form_status status not-confirmed">
                  <svg class='icon icon-cross'>
                    <use xlink:href='./img/svg/sprite.svg#cross'></use>
                  </svg>
                  <span>Не подтвержден</span>
                </div>
                <div class="modal__passport-form_status status confirmed">
                  <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="icon" style="fill: none;">
                    <path d="M1 6L5.66667 10.5L15 1.5" stroke-width="2" />
                  </svg>
                  <span>Подтвержден</span>
                </div>
              </div>
            </div>
            <div class="modal__passport-form_item">
              <span>Кем выдан:</span>
              <div class="modal__passport-form_wp-input wp-input">
                <input type="text" name="issued_by" class="modal__passport-form_input-passport input-passport"
                  data-render="issued_by,text" readonly="true">
              </div>
            </div>
            <div class="modal__passport-form_item">
              <span>Код подразделения:</span>
              <div class="modal__passport-form_wp-input wp-input">
                <input type="text" name="subdivision" class="modal__passport-form_input-passport input-passport"
                  data-render="subdivision,text" inputmode="numeric" readonly="true">
              </div>
            </div>
          </form>
        </div>
        <div class="modal__passport-photo">
          <img src="" alt="Фото паспорта" data-render="passp_photo_link">
        </div>
      </div>
    </div>
  </div>
  <div class="modal__footer">
  </div>
</div>