<div class='modal__body'>
  <div class="modal__header">
    <div class="modal__header_auto">
      <h3 class="modal__title">Подтверждение клиента</h3>
    </div>
  </div>
  <div class="modal__block">

    <div class="modal__block_item">
      <form class="modal__form form">
        <div class="modal__form_item">
          <span>ФИО:</span>
          <div class="modal__form_wp-input wp-input">
            <input type="text" class="modal__form_input input not-edit" name="fullname" autocomplete="off"
              readonly="true" data-render="fullname,text">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal__footer">
    <button class="button btn-confirm"><span>Подтвердить</span></button>
  </div>
</div>